<html>
    <head>
            <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
            <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
            <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
            <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
            <script src="/js/mapMethods.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	        <link rel="stylesheet" href="/css/style.css" media="screen" title="no title"  charset="utf-8">
    </head>
    <body onload="getLocation()">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="logo" src="/img/house.jpg" alt="home">
                    <a class="navbar-brand" href="#">Home Away From Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/my_routes">See all routes</a></li>
                    <li><a href="/logout">Logout</a></li>
                    
                </ul>
            </div>
        </div>    
        <div id="demo" >

        </div>
        <div id="mySidenav" class="side-bar">
            
            <a href="/routes"><button>Make a new route</button> </a><br>
            <a href="#"> <button>Join a route</button> </a>
            
        </div>
    </body>
</html>